body {
    margin: 0px;
    background-color: #67EAA6
}

header {
    background-image: linear-gradient(to bottom, #20E680, #19B363, #2D6648 );
    color: aliceblue;
    padding: 10px;
    text-align: center;
    font-family: fantasy;
    font-size: 1em;
    font-weight: lighter;
}
header > h1 {
    font-weight: lighter;
    color: white;
}

header > p {
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: auto;
}

#menu > a{
    padding: 7px;
    text-decoration: none;
}

#menu {
    text-align: left;
    display: block;
}

a:link {color: aliceblue;
        
}

a:visited {
    color: whitesmoke;
}

.link-autora:link{
    color: #34A34C;
    text-decoration: none;
}

.link-autora:visited { color: #34A34C;}

a:hover {
    color: black;
    background-color: aliceblue;
    border-radius: 5px;
    transition-duration: .5s;
}

main {
    background-color: white;
    padding: 10px;
    margin: auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.219);
    min-width: 300px;
    max-width: 800px;
}
main > p {
    text-indent: 15px;
    text-align: justify;
}

.box {
    margin: auto;
    text-align: left;
    background-color: #C3EED6;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
    font-weight: bold;
}
h2 {
    font-family: 'idroid', Times, serif;
    background-image: linear-gradient(to right, #30b35c4b, transparent ) ;
    color: #0fbb62de;
    

}

 h3 {
    text-align: start;
    background-color: #30b35c;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.253);
 }

 @font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf.otf);
    font-weight: normal;
    font-style: normal;
 }

 main > h1 {
    font-family: 'idroid', times, serif;
    color: #34A34C;
    
 }
 
 .bugdroid {
    margin: auto;
    display: block;
    max-width: 350px;
 }

 div.video {
    background-color: #19B363;
    margin-bottom: 20px;
    margin: 0px -10px;
    padding: 12px;
    position: relative;
    padding-bottom: 56.8%;
 }

 div.video > iframe {
    position: absolute;
    top: 3%;
    left: 2.4%;
    width: 95%;
    height: 95%;
 }

 .box > p {
    text-indent: 25px;
    padding-left: 5px;
    font-weight: bold;
    margin: 0px;
 }
 
 aside ul {
    columns: 2;
    list-style-type: '\2714\00A0\00A0'
 }

 footer {
    background-color: rgb(1, 66, 1);
    color: aliceblue;
}

footer > p {
    text-indent: 15px;
    text-align: center;
}